.chat-room {
  display: block;
  max-width: 80%;
  margin: auto;
  text-align: center;
}
.message {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  min-height: 80px;
  border: 2px solid #999999;
  background-color: #5eb5e0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.avatar {
  width: 10%;
}
.avatar img {
  float: left;
  width: 60px;
  border-radius: 50%;
}
.message-text {
  width: 90%;
  padding: 5px 40px;
  text-align: center;
}
.time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: #999999;
}
.message-editor {
  border-radius: 20px;
  background-image: linear-gradient(#239bc0, #5759ff);
  padding: 10px;
  width: 80%;
  position: absolute;
  bottom: 65px;
}
.message-editor input {
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  border-radius: 20px;
}
.message-editor input:focus {
  outline: none;
}
/*# sourceMappingURL=chat.css.map */