.chat-room {
    display: block;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.message-list {
    margin-top: 60px;
    z-index: 5;
    height: calc(100vh - 260px);
    overflow: scroll;
}

.message {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    min-height: 80px;
    border: 2px solid #999999;
    background-color: #bac9e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.yours {
    &:extend(.message);
    background-color: #4078ff !important;
}

.avatar {
    width: 10%;

    img {
        float: left;
        width: 60px;
        border-radius: 50%;
    }
}

.message-text {
    width: 90%;
    padding: 5px 40px;
    text-align: left;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #999999;
}

.message-editor {
    z-index: 100;
    border-radius: 20px;
    background-image: linear-gradient(#239bc0, #5759ff);
    padding: 10px;
    width: 80%;
    position: fixed;
    bottom: 65px;

    form {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        .form-group:first-child {
            line-height: 40px;
            padding: 10px;
            width: 85%;
            border-radius: 20px;
        }

        .form-group:first-child:focus {
            outline: none;
        }

        .form-group:nth-child(2){
            width: 13%;
            min-width: 100px;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;

            #send {
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}

@media (max-width: 450px) {
    .chat-room {
        max-width: 100%;
    }

    .message {
        width: 95%;
    }

    .message-list {
        margin-top: 20px;
        height: calc(100vh - 220px);
    }

    .message-editor {
        width: 100%;
        left: 0;

        form {

            .form-group:first-child {
                width: 100%;
                padding: 5px;
            }

            .form-group:nth-child(2){
                width: 5%;
                min-width: 65px;
            }
        }
    }
}
