.contacts {
    display: block;
    max-width: 90%;
    padding: 15px;
    margin: 70px auto;
    font-weight: 400;
    text-align: center;
}

.contacts-list {
    height: calc(100vh - 260px);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.contact {
    border-radius: 10px;
    background-color: #a2c4dd;
    cursor: pointer;
    height: 165px;
    width: 180px;
    margin: 25px;
    padding: 15px;

    img {
        border-radius: 60%;
        height: 80px;
    }

    article {
        font-size: 18px;
        color: #222222;
        text-decoration: none;
    }

    &:hover {
        background-color: #2f61b0;
        text-decoration: none !important;

        article {
            color: #DDDDDD;
        }

        .alert-message {
            color: #222222;
        }
    }
}

@media (max-width: 550px) {
    .contacts {
        max-width: 100%;
        padding: 5px;
    }

    .contacts-list {
        height: calc(100vh - 220px);
        margin-top: 20px;

    }

    .contact {
        margin: 10px;
    }
}