.contacts {
  display: block;
  width: 100%;
  max-width: 90%;
  padding: 15px;
  margin: 50px auto auto;
  font-weight: 400;
  text-align: center;
}
.contacts-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.contact {
  border-radius: 10px;
  background-color: #a2c4dd;
  cursor: pointer;
  width: 180px;
  margin: 25px;
  padding: 15px;
}
.contact img {
  border-radius: 60%;
  height: 80px;
}
.contact article {
  font-size: 18px;
  color: #222222;
  text-decoration: none;
}
.contact:hover {
  background-color: #2f61b0;
}
.contact:hover article {
  color: #DDDDDD;
}
/*# sourceMappingURL=contacts.css.map */