{% extends 'base.html.twig' %}

{% block title %}
    You are chatting with {{ receiver.profile.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('chat') }}
{% endblock %}

{% block body %}
    <div class="chat-room" id="chat-room" data-chatid="{{ chatId }}">
        <h2> Chat Room </h2>
        <div class="chat-box">

            <div class="message-list" id="message-list"></div>

            <div class="message-editor">
                {{ form_start(chatForm, {'attr': {'id': 'chat_form', 'data-id': receiver.id }}) }}
                    {{ form_row(chatForm.text) }}
                    {{ form_row(chatForm.send) }}
                {{ form_end(chatForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('chat') }}
{% endblock %}



