.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #fff;
  margin-top: 10px;
}
/*# sourceMappingURL=footer.css.map */