body {
  position: relative;
  background: lightgray;
  min-height: 45rem;
  padding-bottom: 80px;
  overflow: hidden;
}

html {height:100%}

/* NAVIGATION */

.navbar-bg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: url('../../images/chat-nav.jpg');
  background-size: 80%;
}

.dropdown-menu, .dropdown-menu.show {
  right: 0;
}

.nav-profile-img {
  width: 50px;
  border: 1px solid #fff;
}