body {
  position: relative;
  background: lightgray;
  min-height: 45rem;
  padding-bottom: 80px;
}
html {
  height: 100%;
}
/* NAVIGATION */
.navbar-bg {
  background: url('../../images/chat-nav.jpg');
  background-size: 80%;
}
.dropdown-menu,
.dropdown-menu.show {
  right: 0;
}
.nav-profile-img {
  width: 50px;
  border: 1px solid #fff;
}
/*# sourceMappingURL=header.css.map */