{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block body %}

    <div class="form-signin" >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
        {{ form_start(loginForm) }}
            {{ form_parent(loginForm) }}
            {{ form_label(loginForm.email, 'Email') }}
            {{ form_widget(loginForm.email, {'attr': {'value': last_email }}) }}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        {{ form_end(loginForm) }}
    </div>

{% endblock %}
