{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {{ form_start(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}


