{% extends 'base.html.twig' %}

{% block title %}Chat Client{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('contacts') }}
{% endblock %}

{% block body %}

<div class="contacts">
    <h1>Contacts</h1>
    <input id="user" type="hidden" data-id="{{ app.user.id }}">
    <div class="contacts-list">
        {% for contact in contacts %}
            <a href="{{ path('app_chat_with', { 'id': contact.id }) }}" class="contact" id="contact-{{ contact.id }}">
                <img src="{{ asset(''~ contact.avatar~'') }}" alt="">
                <article>{{ contact.name }} {{ contact.surname }}</article>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('contacts') }}
{% endblock %}
