<h3>Dear {{ to.profile.name }}, </h3>
<br>
<p>You have {{ messages|length }} unread messages from {{ from.profile.name }} {{ from.profile.surname }}</p>
<ul>
    {% for message in messages %}
        <li>{{ message.text }}</li>
    {% endfor %}
</ul>